# Welcome to SQL and API JEOPARDY

<img width=500, src="jeopardy.gif">

# SQL Setup

For the SQL questions you will be using the **Pets** database.  You may answer these questions using sqlite in this notebook or in a GUI of your choice.  The below cells will set up your connection to the database.

In [15]:
import sqlite3

#connecting to the sql server
con = sqlite3.connect('pets.db')
cur = con.cursor()

In [16]:
#examine all tables in the database
cursor.execute("""SELECT name FROM sqlite_master WHERE type='table';""")
print(cursor.fetchall())

[('ProceduresHistory',), ('ProceduresDetails',), ('Pets',), ('Owners',)]

In [17]:
cur.execute("""SELECT COUNT(*) FROM PROCEDURESHISTORY WHERE ProcedureType = 'VACCINATIONS'`;""").fetchall()

[(1447,)]

In [20]:
cur.execute("""SELECT MAX(Price), ProcedureType FROM ProceduresDetails;""").fetchall()

[(775, 'GENERAL SURGERIES')]

In [23]:
cur.execute("""SELECT MAX(Price), Description FROM ProceduresDetails WHERE ProcedureType = 'VACCINATIONS'""").fetchall()

[(20, 'Leukemia')]

In [28]:
cur.execute("""SELECT COUNT(*) FROM Pets JOIN ProceduresHistory USING(PetID) WHERE Kind = 'Parrot';""").fetchall()

[(6,)]

In [33]:
cur.execute("""SELECT COUNT(*) fROM OWNERS WHERE CITY = 'Southfield';""").fetchall()

[(15,)]

In [35]:
cur.execute("""select Date from ProceduresHistory JOIN Pets USING(PetID) WHERE ProcedureType = 'ORTHOPEDIC' AND Name = 'Cuddles';""").fetchall()

[('2016-01-30',)]

In [38]:
cur.execute("""SELECT Name, Date FROM Pets JOIN ProceduresHistory USING(PetID) ORDER BY Date DESC""").fetchall()

[('Cookie', '2016-12-21'),
 ('Bright', '2016-12-16'),
 ('Antigone', '2016-12-13'),
 ('Scout', '2016-12-10'),
 ('Cookie', '2016-12-05'),
 ('Rumba', '2016-12-01'),
 ('Dexter', '2016-11-26'),
 ('Bruce', '2016-11-07'),
 ('Danger', '2016-11-06'),
 ('Biscuit', '2016-11-04'),
 ('Bruce', '2016-10-22'),
 ('Blackie', '2016-10-19'),
 ('Kashi', '2016-10-11'),
 ('Cuddles', '2016-10-05'),
 ('Vuitton', '2016-10-03'),
 ('Thatcher', '2016-09-29'),
 ('Cookie', '2016-09-19'),
 ('Swiffer', '2016-09-19'),
 ('Bruce', '2016-09-17'),
 ('Biscuit', '2016-09-11'),
 ('Blackie', '2016-08-21'),
 ('Biscuit', '2016-08-19'),
 ('Cookie', '2016-08-02'),
 ('Daisy', '2016-07-30'),
 ('Jake', '2016-07-30'),
 ('Simba', '2016-07-22'),
 ('Biscuit', '2016-07-10'),
 ('Lily', '2016-07-06'),
 ('Bonaparte', '2016-06-04'),
 ('Dior', '2016-05-28'),
 ('Bonaparte', '2016-05-08'),
 ('Scout', '2016-05-08'),
 ('Bonaparte', '2016-05-04'),
 ('Vuitton', '2016-03-18'),
 ('Rumba', '2016-02-05'),
 ('Bright', '2016-02-05'),
 ('Cuddles', '2016-02-04'),
 ('Bandit', '2016-02-02'),
 ('Cuddles', '2016-01-30'),
 ('Jake', '2016-01-29'),
 ('Humbert', '2016-01-22')]

In [40]:
cur.execute("""select distinct Name from Pets ORDER BY Name DESC LIMIT 2;""").fetchall()

[('Vuitton',), ('Tiger',)]

In [42]:
cur.execute("""select avg(Age) FROM Pets;""").fetchall()

[(6.93,)]

In [56]:
cur.execute("""select owners.Name, count(PetID) from (SELECT count(PetID) from Pets JOIN Owners ORDER BY count(PetID) DESC);""").fetchall()

OperationalError: no such column: owners.Name

# API Setup

For the API questions we will be using the **SPACEX API**.  You can find additional information about this API [here](https://github.com/r-spacex/SpaceX-API).  The below code will set you up with the response from the API.

In [3]:
import requests

#saving the response from the API
response = requests.get("https://api.spacexdata.com/v3/launches")

In [4]:
response.status_code

200

In [44]:
response.headers['Server']

'cloudflare'