# Python Web Scraping Tutorial using BeautifulSoup

## The components of a web page

When we visit a web page, our web browser makes a GET request to a web server. The server then sends back files that tell our browser how to render the page for us. The files fall into a few main types:

- HTML — contain the main content of the page.
- CSS — add styling to make the page look nicer.
- JS — Javascript files add interactivity to web pages.
- Images — image formats, such as JPG and PNG allow web pages to show pictures.

After our browser receives all the files, it renders the page and displays it to us. There’s a lot that happens behind the scenes to render a page nicely, but we don’t need to worry about most of it when we’re web scraping.

### HTML


HyperText Markup Language (HTML) is a language that web pages are created in. HTML isn’t a programming language, like Python — instead, it’s a markup language that tells a browser how to layout content. 

Let’s take a quick tour through HTML so we know enough to scrape effectively. HTML consists of elements called tags. The most basic tag is the `<html>` tag. This tag tells the web browser that everything inside of it is HTML. We can make a simple HTML document just using this tag:

~~~
<html>
</html>
~~~

<html>
</html>

Right inside an html tag, we put two other tags, the head tag, and the body tag. The main content of the web page goes into the body tag. The head tag contains data about the title of the page, and other information that generally isn’t useful in web scraping:

~~~
<html>
    <head>
    </head>
    <body>
    </body>
</html>
~~~

We’ll now add our first content to the page, in the form of the p tag. The p tag defines a paragraph, and any text inside the tag is shown as a separate paragraph:
~~~
<html>
    <head>
    </head>
    <body>
          <p>
            Here's a paragraph of text!
        </p>
        <p>
            Here's a second paragraph of text!
        </p>
    </body>
</html>
~~~

<html>
    <head>
    </head>
    <body>
          <p>
            Here's a paragraph of text!
        </p>
        <p>
            Here's a second paragraph of text!
        </p>
    </body>
</html>

Tags have commonly used names that depend on their position in relation to other tags:

- **child** — a child is a tag inside another tag. So the two p tags above are both children of the body tag.
- **parent** — a parent is the tag another tag is inside. Above, the html tag is the parent of the body tag.
- **sibiling** — a sibiling is a tag that is nested inside the same parent as another tag. For example, head and body are siblings, since they’re both inside html. Both p tags are siblings, since they’re both inside body.

We can also add properties to HTML tags that change their behavior:

~~~
<html>
  <head>
  </head>
    <body>
      <p>
        Here's a paragraph of text!
        <a href="https://www.dataquest.io">Learn Data Science Online</a>
        </p>
        <p>
          Here's a second paragraph of text!
          <a href="https://www.python.org">Python</a>        
        </p>
    </body>
</html>
~~~

<html>
    <head>
    </head>
    <body>
        <p>
            Here's a paragraph of text!
            <a href="https://www.dataquest.io">Learn Data Science Online</a>
        </p>
        <p>
            Here's a second paragraph of text!
            <a href="https://www.python.org">Python</a>        </p>
    </body></html>

In the above example, we added two a tags. a tags are links, and tell the browser to render a link to another web page. The href property of the tag determines where the link goes.

a and p are extremely common html tags. Here are a few others:

- *div* — indicates a division, or area, of the page.
- *b* — bolds any text inside.
- *i* — italicizes any text inside.
- *table* — creates a table.
- *form* — creates an input form.


For a full list of tags, look [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element).

There are two special properties give HTML elements names, and make them easier to interact with when we’re scraping, **class** and **id** properties. 

- One element can have multiple classes, and a class can be shared between elements. 
- Each element can only have one id, and an id can only be used once on a page. 
- Classes and ids are optional, and not all elements will have them.

We can add classes and ids to our example:

~~~
<html>
    <head>
    </head>
    <body>
        <p class="bold-paragraph">
            Here's a paragraph of text!
            <a href="https://www.dataquest.io" id="learn-link">Learn Data Science Online</a>
        </p>
        <p class="bold-paragraph extra-large">
            Here's a second paragraph of text!
            <a href="https://www.python.org" class="extra-large">Python</a>
        </p>
    </body>
</html>
~~~

<html>
    <head>
    </head>
    <body>
        <p class="bold-paragraph">
            Here's a paragraph of text!
            <a href="https://www.dataquest.io" id="learn-link">Learn Data Science Online</a>
        </p>
        <p class="bold-paragraph extra-large">
            Here's a second paragraph of text!
            <a href="https://www.python.org" class="extra-large">Python</a>
        </p>
    </body>
</html>

## Apply this knowledge

Let's go to a webpage and change some of the HTML to see what happens. 

- Open up a webpage in Chrome.
- Right click and 'inspect element.

- Change the text in a tag.
- Change the class of a tag.
- Find a tag with an ID and remove it.

## Webscraping with Python

### The requests library
The first thing we’ll need to do to scrape a web page is to download the page. We can download pages using the Python requests library.

In [1]:
import requests
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
page

We can print out the HTML content of the page using the content property:

In [4]:
print(page.text)

<!DOCTYPE html>
<html>
    <head>
        <title>A simple example page</title>
    </head>
    <body>
        <p>Here is some simple content for this page.</p>
    </body>
</html>

### Parsing a page with BeautifulSoup

We can use the BeautifulSoup library to parse this document, and extract the text from the `<p>` tag.

In [5]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content)
soup

<!DOCTYPE html>
<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

In [6]:
type(soup)

bs4.BeautifulSoup

In [7]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

As all the tags are nested, we can move through the structure one level at a time. We can first select all the elements at the top level of the page using the `children` property of `soup`.

In [8]:
list(soup.children)

['html', <html>
 <head>
 <title>A simple example page</title>
 </head>
 <body>
 <p>Here is some simple content for this page.</p>
 </body>
 </html>]

The above tells us that there are two tags at the top level of the page — the initial `<!DOCTYPE html>` tag, and the `<html>` tag. There is a newline character `(\n)` in the list as well. Let’s see what the type of each element in the list is:

In [9]:
[type(item) for item in list(soup.children)]

[bs4.element.Doctype, bs4.element.Tag]

The `Tag` object allows us to navigate through an HTML document, and extract other tags and text. You can learn more about the various `BeautifulSoup` objects [here](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#kinds-of-objects).

We can now select the html tag and its children by taking the third item in the list:

In [10]:
html = list(soup.children)[1]

In [11]:
html

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

Each item in the list returned by the `children` property is also a `BeautifulSoup` object, so we can also call the `children` method on `html`.

Now, we can find the `children` inside the `html` tag:

In [21]:
print(html.prettify())

<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [14]:
from bs4.element import Tag
[x for x in html.children if isinstance(x, Tag)]

# import bs4
# [x for x in html.children if isinstance(x, bs4.element.Tag)]

[<head>
 <title>A simple example page</title>
 </head>, <body>
 <p>Here is some simple content for this page.</p>
 </body>]

As you can see above, there are two tags here, `head`, and `body`. We want to extract the text inside the `p` tag, so we’ll dive into the body:

In [15]:
body = list(html.children)[3]

In [16]:
body

<body>
<p>Here is some simple content for this page.</p>
</body>

We can now isolate the `p` tag:

In [17]:
p = list(body.children)[1]

Once we’ve isolated the tag, we can use the `get_text` method to extract all of the text inside the tag:

In [18]:
p

In [19]:
p.get_text()

'Here is some simple content for this page.'

### Finding all instances of a tag at once

If we want to extract a single tag, we can instead use the find_all method, which will find all the instances of a tag on a page.

In [22]:
soup = BeautifulSoup(page.content, 'html.parser')
soup.find_all('p')

Note that `find_all` returns a list, so we’ll have to loop through, or use list indexing, it to extract text:

In [23]:
soup.find_all('p')[0].get_text()

'Here is some simple content for this page.'

In [25]:
print([x.get_text() for x in soup.find_all('p')])

['Here is some simple content for this page.']

If you instead only want to find the first instance of a tag, you can use the `find` method, which will return a single `BeautifulSoup` object:

In [33]:
soup.find('p')

In [30]:
Out[26]

### Searching for tags by class and id


We introduced classes and ids earlier, but it probably wasn’t clear why they were useful. Classes and ids are used by CSS to determine which HTML elements to apply certain styles to. We can also use them when scraping to specify specific elements we want to scrape. Let's look at the following page:

~~~
<html>
    <head>
        <title>A simple example page</title>
    </head>
    <body>
        <div>
            <p class="inner-text first-item" id="first">
                First paragraph.
            </p>
            <p class="inner-text">
                Second paragraph.
            </p>
        </div>
        <p class="outer-text first-item" id="second">
            <b>
                First outer paragraph.
            </b>
        </p>
        <p class="outer-text">
            <b>
                Second outer paragraph.
            </b>
        </p>
    </body>
</html>
~~~

In [34]:
page = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'html.parser')
soup

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

Now, we can use the `find_all` method to search for items by class or by id. In the below example, we’ll search for any `p` tag that has the class `outer-text`:

In [37]:
soup.find_all('p', class_='outer-text')

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [39]:
print(*[x.get_text() for x in soup.find_all('p', class_='outer-text')])

                First outer paragraph.



                Second outer paragraph.

In the below example, we’ll look for any tag that has the class `outer-text`:

In [40]:
soup.find_all(class_="outer-text")

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

We can also search for elements by `id`:

In [41]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [43]:
parameters = {'a': 2, 'b': print}
my_function(**parameters)

### Using CSS Selectors


You can also search for items using CSS selectors. These selectors are how the CSS language allows developers to specify HTML tags to style. Here are some examples:

- *p a* — finds all a tags inside of a p tag.
- *body p a* — finds all a tags inside of a p tag inside of a body tag.
- *html body* — finds all body tags inside of an html tag.
- *p.outer-text* — finds all p tags with a class of outer-text.
- *p#first* — finds all p tags with an id of first.
- *body p.outer-text* — finds any p tags with a class of outer-text inside of a body tag.

`BeautifulSoup` objects support searching a page via CSS selectors using the `select` method. We can use CSS selectors to find all the `p` tags in our page that are inside of a `div` like this:

In [62]:
soup.select("#second b")[0].get_text()

'\n                First outer paragraph.\n            '

Note that the `select` method above returns a list of `BeautifulSoup` objects, just like `find` and `find_all`.

In [64]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36'}

In [65]:
resp = requests.get('https://www.the-numbers.com/movie/budgets/all', headers=headers)

In [66]:
resp.status_code

200

In [67]:
import pandas as pd
tables = pd.read_html(resp.content)

In [69]:
len(tables)

1

In [70]:
df = tables[0]

In [71]:
df

,Unnamed: 0,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,1,"Dec 17, 2009",Avatar,"$425,000,000","$760,507,625","$2,789,705,275"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,795,473,000"
3,4,"Apr 22, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 13, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At World’s End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 13, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Oct 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 19, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 23, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 7, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"Apr 22, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 23, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 11, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
21,22,"Dec 10, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
22,23,"Apr 7, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
24,25,"May 23, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
25,26,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
26,27,"Apr 25, 2012",The Avengers,"$225,000,000","$623,279,547","$1,517,935,897"
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Man’s Chest,"$225,000,000","$423,315,812","$1,066,215,812"
28,29,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
29,30,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288"
...,...,...,...,...,...,...
70,71,"Jun 19, 2013",World War Z,"$190,000,000","$202,359,711","$531,514,650"
71,72,"May 10, 2013",The Great Gatsby,"$190,000,000","$144,840,419","$351,040,419"
72,73,"Nov 6, 2009",Disney’s A Christmas Carol,"$190,000,000","$137,855,863","$315,709,697"
73,74,"Jul 11, 2013",Pacific Rim,"$190,000,000","$101,802,906","$411,002,906"
74,75,"Nov 25, 2015",The Good Dinosaur,"$187,500,000","$123,087,120","$333,771,037"
75,76,"May 2, 2008",Iron Man,"$186,000,000","$318,604,126","$585,171,547"
76,77,"Jul 18, 2008",The Dark Knight,"$185,000,000","$533,720,947","$1,001,996,207"
77,78,"May 22, 2008",Indiana Jones and the Kingdom of the Crystal S...,"$185,000,000","$317,101,119","$786,635,413"
78,79,"Jun 21, 2012",Brave,"$185,000,000","$237,282,182","$554,606,532"
79,80,"Feb 23, 2017",Kong: Skull Island,"$185,000,000","$168,052,812","$561,072,059"
80,81,"Jul 21, 2016",Star Trek Beyond,"$185,000,000","$158,848,340","$335,802,233"
81,82,"Sep 29, 2017",Blade Runner 2049,"$185,000,000","$92,054,159","$259,357,408"
82,83,"Oct 25, 2019",Terminator: Dark Fate,"$185,000,000",$0,"$12,800,000"
83,84,"May 22, 2019",Aladdin,"$182,000,000","$355,559,216","$1,038,059,216"
84,85,"Oct 25, 2017",Thor: Ragnarok,"$180,000,000","$315,058,289","$846,980,024"
85,86,"Dec 9, 2005","The Chronicles of Narnia: The Lion, the Witch a…","$180,000,000","$291,710,957","$720,539,572"
86,87,"May 28, 2014",Maleficent,"$180,000,000","$241,407,328","$758,536,735"
87,88,"Nov 14, 2016",Fantastic Beasts and Where to Find Them,"$180,000,000","$234,037,575","$802,402,853"
88,89,"Jun 27, 2008",WALL-E,"$180,000,000","$223,808,164","$532,508,025"
89,90,"Aug 10, 2007",Rush Hour 3,"$180,000,000","$140,125,968","$256,585,882"
90,91,"Jun 27, 2016",The Legend of Tarzan,"$180,000,000","$126,643,061","$348,902,025"
91,92,"Nov 23, 2011",Hugo,"$180,000,000","$73,864,507","$180,047,784"
92,93,"Jul 20, 2017",Valerian and the City of a Thousand Planets,"$180,000,000","$40,479,370","$215,098,356"
93,94,"Feb 6, 2015",Jupiter Ascending,"$179,000,000","$47,482,519","$181,982,519"
94,95,"Jul 16, 2018",Mission: Impossible—Fallout,"$178,000,000","$220,159,104","$787,456,552"
95,96,"May 18, 2016",X-Men: Apocalypse,"$178,000,000","$155,442,489","$542,537,546"
96,97,"Aug 9, 2018",The Meg,"$178,000,000","$145,443,742","$529,530,715"
97,98,"May 28, 2014",Edge of Tomorrow,"$178,000,000","$100,206,256","$370,541,256"
98,99,"Mar 6, 2019",Captain Marvel,"$175,000,000","$426,829,839","$1,126,129,839"
99,100,"Apr 7, 2016",The Jungle Book,"$175,000,000","$364,001,123","$962,854,547"

## Your Turn: Downloading weather data

We now know enough to proceed with extracting information about the local weather from the National Weather Service website. The first step is to find the page we want to scrape. We’ll extract weather information about my hometown of Auburn, AL from this [page](https://forecast.weather.gov/MapClick.php?lat=32.6083&lon=-85.4817).

We can then scroll up in the elements panel to find the “outermost” element that contains all of the text that corresponds to the extended forecasts. In this case, it’s a `div` tag with the id `seven-day-forecas`t:

We now know enough to download the page and start parsing it. In the below code, we:

1. Download the web page containing the forecast.
2. Create a `BeautifulSoup` class to parse the page.
3. Find the `div` with id `seven-day-forecast`, and assign to `seven_day`
4. Inside `seven_day`, find each individual forecast item.
5. Extract and print the first forecast item.

In [72]:
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=32.6083&lon=-85.4817")
soup = BeautifulSoup(page.content, 'html.parser')

# Your code here

In [76]:
seven_day = soup.select('#seven-day-forecast-container')[0]

In [81]:
tombstones = seven_day.find_all(class_='forecast-tombstone')

### Extracting information from the page
As you can see, inside the forecast item `tonight` is all the information we want. There are `4` pieces of information we can extract:

- The name of the forecast item — in this case, **Tonight**.
- The description of the conditions — this is stored in the `title` property of `img`.
- A short description of the conditions — in this case, **Mostly Clear**.
- The temperature low — in this case, **49 degrees**.

We’ll extract the name of the forecast item, the short description, and the temperature first, since they’re all similar:

Now, we can extract the `title` attribute from the `img` tag. To do this, we just treat the `BeautifulSoup` object like a dictionary, and pass in the attribute we want as a key:

In [86]:
tombstones[0].find('img')['alt']

'Today: Showers likely.  Cloudy, with a high near 70. Calm wind becoming east around 5 mph in the afternoon.  Chance of precipitation is 70%. New precipitation amounts between a tenth and quarter of an inch possible. '

In [90]:
descriptions = [t.find('img')['title'] for t in tombstones]

print(*descriptions, sep='\n')

Today: Showers likely.  Cloudy, with a high near 70. Calm wind becoming east around 5 mph in the afternoon.  Chance of precipitation is 70%. New precipitation amounts between a tenth and quarter of an inch possible.
Tonight: Showers likely, with thunderstorms also possible after 2am.  Cloudy, with a low around 64. East wind around 5 mph.  Chance of precipitation is 70%. New rainfall amounts between a tenth and quarter of an inch, except higher amounts possible in thunderstorms.
Wednesday: Showers likely and possibly a thunderstorm.  Cloudy, with a high near 74. Southeast wind around 5 mph.  Chance of precipitation is 70%. New precipitation amounts between a tenth and quarter of an inch, except higher amounts possible in thunderstorms.
Wednesday Night: Showers likely, mainly before 8pm.  Cloudy, with a low around 71. Southeast wind around 5 mph.  Chance of precipitation is 70%.
Thursday: A chance of showers and thunderstorms, then showers and possibly a thunderstorm after 2pm.  High near 75. South wind 5 to 15 mph becoming west in the afternoon.  Chance of precipitation is 80%.
Thursday Night: Showers likely and possibly a thunderstorm before 11pm, then a slight chance of showers between 11pm and 2am.  Cloudy during the early evening, then gradual clearing, with a low around 42. Chance of precipitation is 70%.
Friday: Sunny, with a high near 60.
Friday Night: Mostly clear, with a low around 40.
Saturday: Mostly sunny, with a high near 62.

### Extracting all the information from the page
Now that we know how to extract each individual piece of information, we can combine our knowledge with css selectors and list comprehensions to extract everything at once.

In the below code, we:

- Select all items with the class period-name inside an item with the class tombstone-container in seven_day.
- Use a list comprehension to call the get_text method on each BeautifulSoup object.

In [92]:
periods = [t.find(class_='period-name').get_text() for t in tombstones]
periods

['Today',
 'Tonight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday']

As you can see above, our technique gets us each of the period names, in order. Now you can apply the same technique to get the other 3 fields:

In [93]:
# Your code here
short_descs = [t.find(class_='short-desc').get_text() for t in tombstones]
temps = [t.find(class_='temp').get_text() for t in tombstones]

### Combining our data into a Pandas Dataframe

We can now combine the data into a Pandas DataFrame and analyze it.

In order to do this, we’ll call the DataFrame class, and pass in each list of items that we have. We pass them in as part of a dictionary. Each dictionary key will become a column in the DataFrame, and each list will become the values in the column:

In [94]:
import pandas as pd
weather = pd.DataFrame({
    "period": periods,
    "short_desc": short_descs,
    "temp": temps,
    "desc": descriptions
})
weather

,period,short_desc,temp,desc
0,Today,ShowersLikely,High: 70 °F,"Today: Showers likely. Cloudy, with a high ne..."
1,Tonight,ShowersLikely,Low: 64 °F,"Tonight: Showers likely, with thunderstorms al..."
2,Wednesday,ShowersLikely,High: 74 °F,Wednesday: Showers likely and possibly a thund...
3,WednesdayNight,ShowersLikely,Low: 71 °F,"Wednesday Night: Showers likely, mainly before..."
4,Thursday,ChanceShowers thenShowers,High: 75 °F,Thursday: A chance of showers and thunderstorm...
5,ThursdayNight,ShowersLikely thenSlight ChanceShowers,Low: 42 °F,Thursday Night: Showers likely and possibly a ...
6,Friday,Sunny,High: 60 °F,"Friday: Sunny, with a high near 60."
7,FridayNight,Mostly Clear,Low: 40 °F,"Friday Night: Mostly clear, with a low around 40."
8,Saturday,Mostly Sunny,High: 62 °F,"Saturday: Mostly sunny, with a high near 62."

We can now do some analysis on the data. For example, we can use a regular expression and the Series.str.extract method to pull out the numeric temperature values:

In [95]:
temp_nums = weather["temp"].str.extract("(?P<temp_num>\d+)", expand=False)
weather["temp_num"] = temp_nums.astype('int')
temp_nums

0    70
1    64
2    74
3    71
4    75
5    42
6    60
7    40
8    62
Name: temp_num, dtype: object

In [96]:
weather

,period,short_desc,temp,desc,temp_num
0,Today,ShowersLikely,High: 70 °F,"Today: Showers likely. Cloudy, with a high ne...",70
1,Tonight,ShowersLikely,Low: 64 °F,"Tonight: Showers likely, with thunderstorms al...",64
2,Wednesday,ShowersLikely,High: 74 °F,Wednesday: Showers likely and possibly a thund...,74
3,WednesdayNight,ShowersLikely,Low: 71 °F,"Wednesday Night: Showers likely, mainly before...",71
4,Thursday,ChanceShowers thenShowers,High: 75 °F,Thursday: A chance of showers and thunderstorm...,75
5,ThursdayNight,ShowersLikely thenSlight ChanceShowers,Low: 42 °F,Thursday Night: Showers likely and possibly a ...,42
6,Friday,Sunny,High: 60 °F,"Friday: Sunny, with a high near 60.",60
7,FridayNight,Mostly Clear,Low: 40 °F,"Friday Night: Mostly clear, with a low around 40.",40
8,Saturday,Mostly Sunny,High: 62 °F,"Saturday: Mostly sunny, with a high near 62.",62

We could then find the mean of all the high and low temperatures:

In [97]:
weather["temp_num"].mean()

62.0

We could also only select the rows that happen at night:

In [98]:
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8    False
Name: temp, dtype: bool

In [99]:
weather[is_night]

,period,short_desc,temp,desc,temp_num,is_night
1,Tonight,ShowersLikely,Low: 64 °F,"Tonight: Showers likely, with thunderstorms al...",64,True
3,WednesdayNight,ShowersLikely,Low: 71 °F,"Wednesday Night: Showers likely, mainly before...",71,True
5,ThursdayNight,ShowersLikely thenSlight ChanceShowers,Low: 42 °F,Thursday Night: Showers likely and possibly a ...,42,True
7,FridayNight,Mostly Clear,Low: 40 °F,"Friday Night: Mostly clear, with a low around 40.",40,True